<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Initial</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.initial %></td>
        <td><%= group.name %></td>
        <td><%= group.email %></td>
        <td><%= link_to 'Show', group_path(group) %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
