<p>
  <strong>Group:</strong>
  <td><%= link_to @user.group.name, articles_path(initial: @user.group.initial), target: :blank %></td>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
